{% extends "base.html" %}

{% block title %}
    {{ data[3] }}
{% endblock %}

{% block content %}
    <p class="lead">Let me grab <span style="font-weight: bold; text-decoration: underline;">{{ data[2] }}</span> for you~</p>
    <p class="lead">Here is everything you've done regarding Host the Forest~</p>
        <table class="table table-dark table-striped table-bordered table-hover sort" id="table"
           data-toggle="table"
           data-pagination="true"
           data-show-columns="true"
           data-page-list="[10, 25, 50, 100, 200, All]">
        <thead>
            <tr>
                <th class="sortable text-center" data-sortable="true" data-field="year" data-visible="false">Year</th>
                <th class="sortable text-center" data-sortable="true" data-field="month" data-visible="false">Month</th>
                <th class="sortable text-center" data-sortable="true" data-field="day">Day</th>
                <th class="sortable text-center" data-sortable="true" data-field="hours">Hours</th>
                <th class="sortable" data-sortable="true" data-field="note">Note</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data[0] %}
                <tr>
                    <td class="text-center">{{row[1]}}</td>
                    <td class="text-center">{{row[2]}}</td>
                    <td class="text-center">{{row[3]}}</td>
                    <td class="text-center">{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>A total of <span style="text-decoration: underline;" class="text-warning">{{data[1]}}</span> hours have been put into Host the Forest</h1>
{% endblock %}