{% extends "base.html" %}

{% block title %}
    This Month
{% endblock %}

{% block content %}

<script src="{{url_for('static', filename='js/bootstrap-table.min.js')}}"></script>
<link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='css/bootstrap-table.min.css')}}">
    <p class="lead">Let me grab this month for you~</p>
    <table class="table table-dark table-striped table-bordered table-hover" data-toggle="table">
        <thead>
            <tr>
                <th class="sortable text-center" data-sortable="true">Year</th>
                <th class="sortable text-center" data-sortable="true">Month</th>
                <th class="sortable text-center" data-sortable="true">Day</th>
                <th class="sortable text-center" data-sortable="true">Hours</th>
                <th class="sortable" data-sortable="true">Note</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data[0] %}
                <tr>
                    <td class="text-center">{{row[1]}}</td>
                    <td class="text-center">{{row[2]}}</td>
                    <td class="text-center">{{row[3]}}</td>
                    <td class="text-center">{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>A total of <span style="text-decoration: underline;" class="text-warning">{{data[1]}}</span> hours have been worked this month~</h1>
    <style>
        #x {
            background:none;border:none;padding:0;outline:0;
        } 
    </style>
{% endblock %}
<script defer src="{{url_for('static', filename='js/bootstrap-table.min.js')}}"></script>